/* Add spacing between the div elements */
.custom_fonts-extension_block {
    display: flex;
    flex-direction: column;
    padding: 20px; 
    text-align: center;
    vertical-align: middle;
}

.custom_fonts-extension_block {
    text-align: left;
}

#auto_load {
    display: flex;
    align-items: center;
    gap: 20px;
  }


